@charset "UTF-8";
/*
============================
Name:  TechXen Technology & It Solution Template
Version: 1.0.0
Description: TechXen Technology & It Solution Template
Author:  VikingLab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/

/*
::::::::::::::::::::::::::
 TYPOGRAPHY AREA CSS
::::::::::::::::::::::::::
*/
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
/*
 ::::::::::::::::::::::::::
  ANIMATION AREA CSS
 ::::::::::::::::::::::::::
 */
/*
::::::::::::::::::::::::::
 CTA AREA CSS
::::::::::::::::::::::::::
*/
.cta {
  background-color: var(--ztc-bg-main-bg-1);
  padding: 80px 0px;
}
.cta .buttons {
  text-align: end;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta .buttons {
    text-align: start;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .cta .buttons {
    text-align: start;
    margin-top: 20px;
  }
}

.cta2 .subscribe-form {
  position: relative;
  padding-right: 160px;
  margin-top: 32px;
}
.cta2 .subscribe-form input {
  padding: 12px 18px 13px 18px;
  border-radius: 25px;
  border: none;
  width: 100%;
  margin-right: 130px;
  background-color: var(--ztc-bg-bg-4);
  border: 1px solid var(--ztc-bg-bg-5);
  color: #fff;
}
.cta2 .subscribe-form input::-moz-placeholder {
  color: #C7C6CB;
}
.cta2 .subscribe-form input::placeholder {
  color: #C7C6CB;
}
.cta2 .subscribe-form input:focus {
  outline-color: #A1E934;
  outline-width: 1px;
  outline-style: solid;
}
.cta2 .subscribe-form .button {
  position: absolute;
  top: 0;
  right: 0;
}

.cta3 {
  padding-top: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta3 {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .cta3 {
    padding-top: 50px;
  }
}
.cta3 .subscribe-form {
  position: relative;
  padding-right: 160px;
  margin-top: 32px;
}
.cta3 .subscribe-form input {
  padding: 14px 18px 14px 18px;
  border-radius: 4px;
  border: none;
  width: 100%;
  margin-right: 130px;
}
.cta3 .subscribe-form input:focus {
  outline: none;
}
.cta3 .subscribe-form .button {
  position: absolute;
  top: 0;
  right: 0;
}

.cta-bg-area {
  background-color: var(--ztc-text-text-1);
  padding: 60px 30px;
  position: relative;
  border-radius: 7px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta-bg-area {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .cta-bg-area {
    margin-bottom: 50px;
  }
}
.cta-bg-area .subscribe-form {
  position: relative;
  margin-top: 30px;
}
.cta-bg-area .subscribe-form input {
  background-color: #313234;
  border-radius: 56px;
  border: none;
  padding: 17px 24px;
  color: #fff;
}
.cta-bg-area .subscribe-form input::-moz-placeholder {
  color: #D6D6D6;
}
.cta-bg-area .subscribe-form input::placeholder {
  color: #D6D6D6;
}
.cta-bg-area .subscribe-form input:focus {
  outline: none;
}
.cta-bg-area .subscribe-form .button {
  position: absolute;
  right: -16px;
  top: 0;
}
.cta-bg-area::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: url(../assets/img/others/cta4-image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cta-bg-area::after {
    width: 0%;
  }
}
.cta-bg-area .shape1 {
  position: absolute;
  right: 50%;
  z-index: 3;
  top: 100px;
  margin-right: -50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta-bg-area .shape1 {
    display: none;
  }
}
@media (max-width: 767px) {
  .cta-bg-area .shape1 {
    display: none;
  }
}
.cta-bg-area .shape2 {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 3;
}

.cta5 {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta5 {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .cta5 {
    margin-bottom: 0px;
  }
}
.cta5 .bg {
  border-radius: 4px;
  background: linear-gradient(90deg, #3B32F6 0%, #49A6FF 100%);
  padding: 60px 48px;
}
@media (max-width: 767px) {
  .cta5 .bg {
    padding: 32px;
  }
}
.cta5 .bg .form-area {
  position: relative;
  text-align: end;
}
.cta5 .bg .form-area input {
  padding: 21px;
  border: none;
  background: #fff;
  border-radius: 4px;
  width: 70%;
}
.cta5 .bg .form-area input:focus {
  outline: none;
}
.cta5 .bg .form-area input::-moz-placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.cta5 .bg .form-area input::placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta5 .bg .form-area input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cta5 .bg .form-area input {
    width: 100%;
  }
}
.cta5 .bg .form-area .button {
  position: absolute;
  top: 4px;
  right: 4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta5 .bg .form-area {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cta5 .bg .form-area {
    margin-top: 30px;
  }
}

.cta6 {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta6 {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .cta6 {
    margin-bottom: 0px;
  }
}
.cta6 .bg {
  border-radius: 4px;
  background: #FA6444;
  padding: 60px 48px;
}
@media (max-width: 767px) {
  .cta6 .bg {
    padding: 32px;
  }
}
.cta6 .bg .form-area {
  position: relative;
  text-align: end;
}
.cta6 .bg .form-area input {
  padding: 19px;
  border: none;
  background: #fff;
  border-radius: 4px;
  width: 70%;
}
.cta6 .bg .form-area input:focus {
  outline: none;
}
.cta6 .bg .form-area input::-moz-placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.cta6 .bg .form-area input::placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta6 .bg .form-area input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cta6 .bg .form-area input {
    width: 100%;
  }
}
.cta6 .bg .form-area .button {
  position: absolute;
  top: 4px;
  right: 4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta6 .bg .form-area {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cta6 .bg .form-area {
    margin-top: 30px;
  }
}

.cta7 {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta7 {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .cta7 {
    margin-bottom: 0px;
  }
}
.cta7 .bg {
  border-radius: 4px;
  background: #307FFF;
  padding: 60px 48px;
}
@media (max-width: 767px) {
  .cta7 .bg {
    padding: 32px;
  }
}
.cta7 .bg .form-area {
  position: relative;
  text-align: end;
}
.cta7 .bg .form-area input {
  padding: 19px;
  border: none;
  background: #fff;
  border-radius: 111px;
  width: 70%;
}
.cta7 .bg .form-area input:focus {
  outline: none;
}
.cta7 .bg .form-area input::-moz-placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.cta7 .bg .form-area input::placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta7 .bg .form-area input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cta7 .bg .form-area input {
    width: 100%;
  }
}
.cta7 .bg .form-area .button {
  position: absolute;
  top: 4px;
  right: 4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta7 .bg .form-area {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cta7 .bg .form-area {
    margin-top: 30px;
  }
}

.cta8 {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta8 {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .cta8 {
    margin-bottom: 0px;
  }
}
.cta8 .bg {
  border-radius: 4px;
  background: #4D32A5;
  padding: 60px 48px;
}
@media (max-width: 767px) {
  .cta8 .bg {
    padding: 32px;
  }
}
.cta8 .bg .form-area {
  position: relative;
  text-align: end;
}
.cta8 .bg .form-area input {
  padding: 19px;
  border: none;
  background: #fff;
  border-radius: 4px;
  width: 70%;
}
.cta8 .bg .form-area input:focus {
  outline: none;
}
.cta8 .bg .form-area input::-moz-placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.cta8 .bg .form-area input::placeholder {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta8 .bg .form-area input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cta8 .bg .form-area input {
    width: 100%;
  }
}
.cta8 .bg .form-area .button {
  position: absolute;
  top: 4px;
  right: 4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta8 .bg .form-area {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cta8 .bg .form-area {
    margin-top: 30px;
  }
}

.cta9 {
  background-color: #325D28;
}
.cta9 .images {
  text-align: end;
  position: relative;
}
.cta9 .images .img1 {
  position: absolute;
  top: 60px;
  right: 0;
}
.cta9 .images .img2 {
  position: absolute;
  top: 0;
  right: 80px;
}
.cta9 .heading6-w {
  padding: 60px 0px;
}
.cta9 .heading6-w .form-area {
  position: relative;
  margin-top: 30px;
  margin-right: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta9 .heading6-w .form-area {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .cta9 .heading6-w .form-area {
    margin-right: 0;
  }
}
.cta9 .heading6-w .form-area .button {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.cta9 .heading6-w .form-area input {
  width: 100%;
  border-radius: 111px;
  border: none;
  padding: 18px;
}
.cta9 .heading6-w .form-area input:focus {
  outline: none;
}
.cta9 .heading6-w .form-area input::-moz-placeholder {
  color: var(--Paragraph-Color, #646375);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
}
.cta9 .heading6-w .form-area input::placeholder {
  color: var(--Paragraph-Color, #646375);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
}

.cta10 .cta-bg-area {
  background-color: #24908D;
  padding: 60px 30px;
  position: relative;
  border-radius: 7px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta10 .cta-bg-area {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .cta10 .cta-bg-area {
    margin-bottom: 50px;
  }
}
.cta10 .cta-bg-area .subscribe-form {
  position: relative;
  margin-top: 30px;
}
.cta10 .cta-bg-area .subscribe-form input {
  background-color: rgba(255, 255, 255, 0.0901960784);
  border-radius: 8px;
  border: none;
  padding: 17px 24px;
  color: #fff;
}
.cta10 .cta-bg-area .subscribe-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5607843137);
}
.cta10 .cta-bg-area .subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.5607843137);
}
.cta10 .cta-bg-area .subscribe-form input:focus {
  outline: none;
}
.cta10 .cta-bg-area .subscribe-form .button {
  position: absolute;
  right: -16px;
  top: 0;
}
.cta10 .cta-bg-area::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: url(../assets/img/others/cta4-image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cta10 .cta-bg-area::after {
    width: 0%;
  }
}
.cta10 .cta-bg-area .shape1 {
  position: absolute;
  right: 50%;
  z-index: 3;
  top: 100px;
  margin-right: -50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta10 .cta-bg-area .shape1 {
    display: none;
  }
}
@media (max-width: 767px) {
  .cta10 .cta-bg-area .shape1 {
    display: none;
  }
}
.cta10 .cta-bg-area .shape2 {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 3;
}

/*
::::::::::::::::::::::::::
 CTA AREA CSS
::::::::::::::::::::::::::
*/
 
/*
::::::::::::::::::::::::::
 BLOG AREA CSS
::::::::::::::::::::::::::
*/
.blog .blog-box {
  margin-top: 30px;
  border: 1px solid #EEEFF1;
  border-radius: 7px;
}
.blog .blog-box .image {
  overflow: hidden;
  border-radius: 7px 7px 0px 0px;
}
.blog .blog-box .image img {
  width: 100%;
  border-radius: 7px 7px 0px 0px;
  transition: all 0.4s;
}
.blog .blog-box .heading {
  padding: 24px;
}
.blog .blog-box .heading .tags a {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs28);
  font-weight: var(--f-fw-regular);
  color: var(--ztc-text-pera-text-1);
  margin: 0px 16px 0px 0px;
}
.blog .blog-box .heading .tags a img {
  margin-top: -3px;
  margin-right: 3px;
}
.blog .blog-box .heading h4 a {
  display: inline-block;
  font-size: var(--f-fs-font-fs20);
  line-height: var(--f-fs-font-fs28);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  padding: 16px 0px;
  transition: all 0.4s;
}
.blog .blog-box .heading h4 a:hover {
  color: var(--ztc-bg-main-bg-1);
}
.blog .blog-box .heading .learn {
  font-size: var(--f-fs-font-fs18);
  line-height: var(--f-fs-font-fs18);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-main-bg-1);
  padding: 10px 12px;
  border-radius: 7px;
  border: 2px solid var(--ztc-bg-main-bg-1);
  display: inline-block;
  transition: all 0.4s;
}
.blog .blog-box .heading .learn span {
  display: inline-block;
  margin-left: 2px;
  transition: all 0.4s;
}
.blog .blog-box:hover .image img {
  transition: all 0.4s;
  transform: scale(1.1) rotate(4deg);
}
.blog .blog-box:hover .learn {
  font-size: var(--f-fs-font-fs18);
  line-height: var(--f-fs-font-fs18);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-color-w);
  padding: 10px 12px;
  border-radius: 7px;
  border: 2px solid var(--ztc-bg-main-bg-1);
  display: inline-block;
  background-color: var(--ztc-bg-main-bg-1);
  transition: all 0.4s;
}
.blog .blog-box:hover .learn span {
  display: inline-block;
  margin-left: 2px;
  transition: all 0.4s;
  transform: rotate(-45deg);
}

.bottom-circle {
  position: relative;
  overflow: hidden;
}
.bottom-circle::after {
  content: "";
  position: absolute;
  top: 200px;
  height: 70%;
  width: 100%;
  background-image: url(../assets/img/bg/bottom-shape2.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -9;
  animation-name: shape-animaiton4;
  animation-duration: 92s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

.blog .blog2-box {
  margin-top: 30px;
}
.blog .blog2-box .image {
  border-radius: 7px;
  overflow: hidden;
}
.blog .blog2-box .image img {
  width: 100%;
  border-radius: 7px;
  transition: all 0.4s;
}
.blog .blog2-box .heading2 {
  background-color: var(--ztc-bg-bg-4);
  border: 1px solid var(--ztc-bg-bg-5);
  padding: 20px;
  border-radius: 7px;
  margin: -70px 30px 0px 30px;
  position: relative;
  z-index: 2;
  transition: all 0.4s;
}
.blog .blog2-box .heading2 .tags .date {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: var(--ztc-text-text-2);
  font-weight: var(--f-fw-regular);
  display: inline-block;
  margin-bottom: 16px;
}
.blog .blog2-box .heading2 .tags .date img {
  margin-top: -4px;
  margin-right: 2px;
}
.blog .blog2-box .heading2 .tags .outhor {
  margin-left: 24px;
}
.blog .blog2-box .heading2 .learn {
  font-size: var(--f-fs-font-fs18);
  line-height: var(--f-fs-font-fs18);
  color: var(--ztc-text-text-2);
  font-weight: var(--f-fw-blod);
  display: inline-block;
  transition: all 0.4s;
}
.blog .blog2-box .heading2 .learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog .blog2-box .heading2 .learn:hover {
  color: var(--ztc-bg-main-bg-4);
  transition: all 0.4s;
}
.blog .blog2-box:hover .image img {
  transform: scale(1.1) rotate(4deg);
  transition: all 0.4s;
}
.blog .blog2-box:hover .heading2 {
  transform: translateY(-20px);
  transition: all 0.4s;
  border: 1px solid var(--ztc-bg-main-bg-4);
}
.blog.blog-page .heading1 {
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--White, #FFF);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 7px;
  margin: -70px 30px 0px 30px;
  position: relative;
  z-index: 2;
  transition: all 0.4s;
}
.blog.blog-page .heading1 h4 a {
  font-size: 24px;
}
.blog.blog-page .heading1 .tags .date {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: #676879;
  font-weight: var(--f-fw-regular);
  display: inline-block;
  margin-bottom: 16px;
}
.blog.blog-page .heading1 .tags .date img {
  margin-top: -4px;
  margin-right: 2px;
  filter: brightness(0);
}
.blog.blog-page .heading1 .tags .outhor {
  margin-left: 24px;
}
.blog.blog-page .heading1 .learn {
  font-size: var(--f-fs-font-fs18);
  line-height: var(--f-fs-font-fs18);
  color: var(--ztc-text-text-1);
  font-weight: var(--f-fw-blod);
  display: inline-block;
  transition: all 0.4s;
}
.blog.blog-page .heading1 .learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog.blog-page .heading1 .learn:hover {
  color: var(--ztc-bg-main-bg-4);
  transition: all 0.4s;
}
.blog.blog-sidebar-page .heading1 {
  margin: -70px 0px 0px 0px;
  border-radius: 0px 0px 7px 7px;
  padding: 32px;
}
.blog.blog-sidebar-page .tags .date {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: #676879;
  font-weight: var(--f-fw-regular);
  display: inline-block;
  margin-bottom: 16px;
}
.blog.blog-sidebar-page .tags .date img {
  margin-top: -4px;
  margin-right: 2px;
  filter: brightness(0);
}
.blog.blog-sidebar-page .tags .outhor {
  margin-right: 24px;
  margin-left: 0 !important;
}

.blog3 .blog3-box {
  margin-top: 30px;
  background-color: var(--ztc-bg-bg-6);
  border-radius: 7px;
  padding: 24px;
}
.blog3 .blog3-box .image {
  overflow: hidden;
  border-radius: 7px;
}
.blog3 .blog3-box .image img {
  width: 100%;
  transition: all 0.4s;
}
.blog3 .blog3-box .heading3 .tags a.date {
  margin-bottom: 16px;
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-text-pera-text-1);
}
.blog3 .blog3-box .heading3 .tags a.date img {
  display: inline-block;
  margin-top: -4px;
  margin-right: 3px;
}
.blog3 .blog3-box .heading3 .tags .outhor {
  margin-left: 24px;
}
.blog3 .blog3-box .heading3 a.learn {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  margin-bottom: 24px;
  transition: all 0.4s;
}
.blog3 .blog3-box .heading3 a.learn:hover {
  color: var(--ztc-bg-main-bg-3);
  transition: all 0.4s;
}
.blog3 .blog3-box .heading3 a.learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog3 .blog3-box:hover .image img {
  transform: rotate(2deg) scale(1.1);
  transition: all 0.4s;
}

.blog4 .blog4-box {
  margin-top: 30px;
}
.blog4 .blog4-box .image {
  border-radius: 7px;
  overflow: hidden;
}
.blog4 .blog4-box .image img {
  width: 100%;
  border-radius: 7px;
  transition: all 0.4s;
}
.blog4 .blog4-box .heading4 {
  border-radius: 7px;
  padding: 20px;
  background-color: var(--ztc-bg-color-w);
  box-shadow: rgba(0, 0, 0, 0.068) 0px 20px 30px;
  margin: -130px 30px 0px 30px;
  position: relative;
  z-index: 1;
}
.blog4 .blog4-box .heading4 .tags a.date {
  margin-bottom: 16px;
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-text-pera-text-1);
}
.blog4 .blog4-box .heading4 .tags a.date img {
  display: inline-block;
  margin-top: -4px;
  margin-right: 3px;
}
.blog4 .blog4-box .heading4 .tags .outhor {
  margin-left: 24px;
}
.blog4 .blog4-box .heading4 h4 a {
  line-height: var(--f-fs-font-fs24);
}
.blog4 .blog4-box .heading4 a.learn {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  margin-bottom: 24px;
  transition: all 0.4s;
}
.blog4 .blog4-box .heading4 a.learn:hover {
  color: var(--ztc-bg-main-bg-2);
  transition: all 0.4s;
}
.blog4 .blog4-box .heading4 a.learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog4 .blog4-box:hover .image img {
  transition: all 0.4s;
  transform: scale(1.1) rotate(2deg);
}

.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .image {
  height: 100px;
  width: 100px;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .image img {
  height: 100px;
  width: 100px;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading {
  padding-left: 16px;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading a.date {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-regular);
  color: #0D0E10;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading a.date img {
  margin-top: -3px;
  filter: brightness(0);
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading h5 a {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-text-text-1);
  padding-top: 16px;
  transition: all 0.4s;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading h5 a:hover {
  color: var(--ztc-bg-main-bg-1);
  transition: all 0.4s;
}
.sidebar-box-area .sidebar-blog-boxs .sidebar-blogs:nth-last-child(1) {
  padding-bottom: 0;
}

.details-post-area .social-users {
  padding-top: 30px;
}
.details-post-area .social-users ul li {
  display: inline-block;
  margin-right: 24px;
}
.details-post-area .social-users ul li a {
  color: var(--ztc-text-text-1);
  font-weight: var(--f-fw-regular);
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  display: inline-block;
}
.details-post-area .social-users ul li a img {
  margin-top: -3px;
  margin-right: 3px;
  filter: brightness(0);
}
.details-post-area .video-area-image {
  position: relative;
}
.details-post-area .video-area-image .video-buttton {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -70px;
}
.details-post-area .comment-box {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 7px;
  margin-top: 32px;
  transition: all 0.4s;
}
.details-post-area .comment-box .box-top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-post-area .comment-box .box-top-area .heading-area {
  display: flex;
  align-items: center;
}
.details-post-area .comment-box .box-top-area .heading-area .image {
  height: 70px 70px;
}
.details-post-area .comment-box .box-top-area .heading-area .heading {
  padding-left: 20px;
}
.details-post-area .comment-box .box-top-area .heading-area .heading h5 a {
  font-size: var(--f-fs-font-fs24);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  display: inline-block;
}
.details-post-area .comment-box .box-top-area .heading-area .heading a.date {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs28);
  font-weight: var(--f-fw-regular);
  color: var(--ztc-text-pera-text-1);
  padding-top: 6px;
}
.details-post-area .comment-box .box-top-area .reply-btn a {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-text-text-1);
  transition: all 0.4s;
}
.details-post-area .comment-box .box-top-area .reply-btn a:hover {
  color: var(--ztc-bg-main-bg-1);
  transition: all 0.4s;
}
.details-post-area .comment-box:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.details-post-area .comment-box.comment-box2 {
  margin-left: 60px;
}

.tags-links .tags ul li {
  display: inline-block;
}
.tags-links .tags ul li.text {
  font-size: var(--f-fs-font-fs24);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  margin-right: 10px;
}
.tags-links .tags ul li.tag-text a {
  display: inline-block;
  background-color: #F8F9FA;
  border-radius: 30px;
  padding: 10px 16px;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  margin: 8px 4px;
  transition: all 0.4s;
}
.tags-links .tags ul li.tag-text a:hover {
  background-color: var(--ztc-bg-main-bg-1);
  transition: all 0.4s;
  color: var(--ztc-bg-color-w);
}
.tags-links .social {
  text-align: end;
}
@media (max-width: 767px) {
  .tags-links .social {
    text-align: start;
    padding-top: 30px;
  }
}
.tags-links .social ul li {
  display: inline-block;
}
.tags-links .social ul li.text {
  font-size: var(--f-fs-font-fs24);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-color-w);
  margin-right: 10px;
}
.tags-links .social ul li a {
  display: inline-block;
  color: var(--ztc-text-text-1);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #F8F9FA;
  text-align: center;
  line-height: 33px;
  margin: 0px 3px;
}
.tags-links .social ul li a:hover {
  background-color: var(--ztc-bg-main-bg-1);
  transition: all 0.4s;
  color: var(--ztc-bg-color-w);
}

.blog-details-border {
  background-color: rgba(76, 77, 108, 0.2549019608);
  width: 100%;
  height: 1px;
  margin: 50px 0px;
}

.contact-form-details {
  background-color: #F8F9FA;
  padding: 32px;
  border-radius: 7px;
}
.contact-form-details .single-input input, .contact-form-details .single-input textarea {
  padding: 16px;
  border: none;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 100%;
  color: #676879;
}
.contact-form-details .single-input input:focus, .contact-form-details .single-input textarea:focus {
  outline: none;
}
.contact-form-details .single-input input::-moz-placeholder, .contact-form-details .single-input textarea::-moz-placeholder {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: #676879;
  font-weight: var(--f-fw-regular);
}
.contact-form-details .single-input input::placeholder, .contact-form-details .single-input textarea::placeholder {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: #676879;
  font-weight: var(--f-fw-regular);
}

.blog.blog-inline.blog-page .heading1.main {
  box-shadow: none;
  padding: 0;
  background: none;
}

.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .image {
  height: 100px;
  width: 100px;
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .image img {
  height: 100px;
  width: 100px;
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading {
  padding-left: 16px;
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading a.date {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-regular);
  color: var(--ztc-bg-color-w);
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading a.date img {
  margin-top: -3px;
  filter: brightness(40);
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading h5 a {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-bg-color-w);
  padding-top: 16px;
  transition: all 0.4s;
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs .heading h5 a:hover {
  color: var(--ztc-bg-main-bg-4);
  transition: all 0.4s;
}
.comon-body .sidebar-box-area .sidebar-blog-boxs .sidebar-blogs:nth-last-child(1) {
  padding-bottom: 0;
}
.comon-body .details-post-area .social-users {
  padding-top: 30px;
}
.comon-body .details-post-area .social-users ul li {
  display: inline-block;
  margin-right: 24px;
}
.comon-body .details-post-area .social-users ul li a {
  color: var(--ztc-bg-color-w);
  font-weight: var(--f-fw-regular);
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  display: inline-block;
}
.comon-body .details-post-area .social-users ul li a img {
  margin-top: -3px;
  margin-right: 3px;
  filter: brightness(40);
}
.comon-body .details-post-area .video-area-image {
  position: relative;
}
.comon-body .details-post-area .video-area-image .video-buttton {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -70px;
}
.comon-body .details-post-area .comment-box {
  background-color: var(--ztc-bg-bg-4);
  border: 1px solid var(--ztc-bg-bg-5);
  padding: 24px;
  border-radius: 7px;
  margin-top: 32px;
  transition: all 0.4s;
}
.comon-body .details-post-area .comment-box .box-top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comon-body .details-post-area .comment-box .box-top-area .heading-area {
  display: flex;
  align-items: center;
}
.comon-body .details-post-area .comment-box .box-top-area .heading-area .image {
  height: 70px 70px;
}
.comon-body .details-post-area .comment-box .box-top-area .heading-area .heading {
  padding-left: 20px;
}
.comon-body .details-post-area .comment-box .box-top-area .heading-area .heading h5 a {
  font-size: var(--f-fs-font-fs24);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-color-w);
  display: inline-block;
}
.comon-body .details-post-area .comment-box .box-top-area .heading-area .heading a.date {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs28);
  font-weight: var(--f-fw-regular);
  color: var(--ztc-text-pera-text-2);
  padding-top: 6px;
}
.comon-body .details-post-area .comment-box .box-top-area .reply-btn a {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-bg-color-w);
  transition: all 0.4s;
}
.comon-body .details-post-area .comment-box .box-top-area .reply-btn a:hover {
  color: var(--ztc-bg-main-bg-4);
  transition: all 0.4s;
}
.comon-body .details-post-area .comment-box:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
  border: 1px solid var(--ztc-bg-main-bg-4);
}
.comon-body .details-post-area .comment-box.comment-box2 {
  margin-left: 60px;
}
.comon-body .tags-links .tags ul li {
  display: inline-block;
}
.comon-body .tags-links .tags ul li.text {
  font-size: var(--f-fs-font-fs24);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-color-w);
  margin-right: 10px;
}
.comon-body .tags-links .tags ul li.tag-text a {
  display: inline-block;
  border: 1px solid #484455;
  background-color: #342F42;
  border-radius: 30px;
  padding: 10px 16px;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-color-w);
  margin: 8px 4px;
  transition: all 0.4s;
}
.comon-body .tags-links .tags ul li.tag-text a:hover {
  border: 1px solid var(--ztc-bg-main-bg-4);
  background-color: var(--ztc-bg-main-bg-4);
  transition: all 0.4s;
  color: var(--ztc-text-text-1);
}
.comon-body .tags-links .social {
  text-align: end;
}
@media (max-width: 767px) {
  .comon-body .tags-links .social {
    text-align: start;
    padding-top: 30px;
  }
}
.comon-body .tags-links .social ul li {
  display: inline-block;
}
.comon-body .tags-links .social ul li.text {
  font-size: var(--f-fs-font-fs24);
  line-height: var(--f-fs-font-fs24);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-bg-color-w);
  margin-right: 10px;
}
.comon-body .tags-links .social ul li a {
  display: inline-block;
  color: var(--ztc-bg-color-w);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: var(--ztc-bg-bg-5);
  text-align: center;
  line-height: 33px;
  margin: 0px 3px;
}
.comon-body .tags-links .social ul li a:hover {
  background-color: var(--ztc-bg-main-bg-4);
  transition: all 0.4s;
  color: var(--ztc-text-text-1);
}
.comon-body .contact-form-details {
  background-color: var(--ztc-bg-bg-4);
  border: 1px solid var(--ztc-bg-bg-5);
  padding: 32px;
  border-radius: 7px;
}
.comon-body .contact-form-details .single-input input, .comon-body .contact-form-details .single-input textarea {
  padding: 16px;
  border: none;
  background-color: var(--ztc-bg-bg-5);
  margin-bottom: 20px;
  border-radius: 4px;
  width: 100%;
  color: var(--ztc-bg-color-w);
}
.comon-body .contact-form-details .single-input input:focus, .comon-body .contact-form-details .single-input textarea:focus {
  outline: none;
}
.comon-body .contact-form-details .single-input input::-moz-placeholder, .comon-body .contact-form-details .single-input textarea::-moz-placeholder {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: rgba(255, 255, 255, 0.7137254902);
  font-weight: var(--f-fw-regular);
}
.comon-body .contact-form-details .single-input input::placeholder, .comon-body .contact-form-details .single-input textarea::placeholder {
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  color: rgba(255, 255, 255, 0.7137254902);
  font-weight: var(--f-fw-regular);
}

.blog5 {
  position: relative;
}
.blog5 .blog-box {
  position: relative;
  margin-top: 30px;
}
.blog5 .blog-box .heading-area {
  border-radius: 4px 4px 0px 0px;
  background: var(--Home-Page-4-Gray-Colors, #F5F6F9);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  padding: 24px;
}
.blog5 .blog-box .heading-area h4 a {
  display: inline-block;
  color: var(--Home-Page-4-Text-colors, #05092B);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  transition: all 0.4s;
  padding: 16px 0px 20px 0px;
}
.blog5 .blog-box .heading-area h4 a:hover {
  color: #FA7D3C;
  transition: all 0.4s;
}
.blog5 .blog-box .heading-area .tags-area a.date {
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  display: inline-block;
}
.blog5 .blog-box .heading-area .tags-area a.date img {
  transform: translateY(-3px);
  margin-right: 2px;
}
.blog5 .blog-box .heading-area .tags-area a.tag {
  display: inline-block;
  color: var(--Home-Page-4-paragraph, #5A5D73);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  background-color: #fff;
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: 16px;
}
.blog5 .blog-box .heading-area .learn {
  color: var(--Home-Page-4-Text-colors, #05092B);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  display: inline-block;
  transition: all 0.4s;
}
.blog5 .blog-box .heading-area .learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog5 .blog-box .heading-area .learn:hover {
  color: #FA7D3C;
  transition: all 0.4s;
}
.blog5 .blog-box .image-area {
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
.blog5 .blog-box .image-area img {
  width: 100%;
  transition: all 0.4s;
}
.blog5 .blog-box .image-area .circle-learn {
  display: inline-block;
  background: linear-gradient(90deg, #FB3F52 0%, #FA7D3C 100%);
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  transform: rotate(-45deg);
  color: #fff;
  font-size: 22px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 3;
}
.blog5 .blog-box:hover .image-area img {
  transform: scale(1.1) rotate(2deg);
  transition: all 0.4s;
}

.blog6 .blog-box {
  margin-top: 40px;
  transition: all 0.4s;
}
.blog6 .blog-box .tags-area {
  padding: 16px 0px;
}
.blog6 .blog-box .tags-area a {
  display: inline-block;
  border-radius: 50px;
  background: rgba(250, 100, 68, 0.1);
  padding: 8px 10px 6px 10px;
  border-radius: 111px;
  color: var(--Home-Page-3-text-Colors, #180D03);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  margin-right: 6px;
}
.blog6 .blog-box .tags-area a img {
  transform: translateY(-2px);
}
.blog6 .blog-box .image {
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}
.blog6 .blog-box .image img {
  width: 100%;
  transition: all 0.4s;
}
.blog6 .blog-box .heading6 p {
  padding: 12px 0px 20px 0px;
}
.blog6 .blog-box .heading6 .learn {
  display: inline-block;
  color: var(--Home-Page-3-text-Colors, #180D03);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  transition: all 0.4s;
}
.blog6 .blog-box .heading6 .learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog6 .blog-box .heading6 .learn:hover {
  transition: all 0.4s;
  color: #FA6444;
}
.blog6 .blog-box:hover {
  transition: all 0.4s;
  transform: translateY(-10px);
}
.blog6 .blog-box:hover .image img {
  transform: scale(1.1) rotate(2deg);
  transition: all 0.4s;
}

.blog7 .blog-box {
  margin-top: 40px;
  transition: all 0.4s;
}
.blog7 .blog-box .tags-area {
  padding: 16px 0px;
}
.blog7 .blog-box .tags-area a {
  display: inline-block;
  border-radius: 50px;
  background: #E5EFFF;
  padding: 8px 10px 6px 10px;
  border-radius: 111px;
  color: var(--Home-Page-3-text-Colors, #180D03);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  margin-right: 6px;
}
.blog7 .blog-box .tags-area a img {
  transform: translateY(-2px);
}
.blog7 .blog-box .image {
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}
.blog7 .blog-box .image img {
  width: 100%;
  transition: all 0.4s;
}
.blog7 .blog-box .heading7 p {
  padding: 12px 0px 20px 0px;
}
.blog7 .blog-box .heading7 .learn {
  display: inline-block;
  color: var(--Home-Page-3-text-Colors, #180D03);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  transition: all 0.4s;
}
.blog7 .blog-box .heading7 .learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog7 .blog-box .heading7 .learn:hover {
  transition: all 0.4s;
  color: #0061FF;
}
.blog7 .blog-box:hover {
  transition: all 0.4s;
  transform: translateY(-10px);
}
.blog7 .blog-box:hover .image img {
  transform: scale(1.1) rotate(2deg);
  transition: all 0.4s;
}

.blog9 .blog-box {
  background-color: #F3F5F2;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .blog9 .blog-box {
    display: block;
  }
}
.blog9 .blog-box .image {
  width: 240px;
}
.blog9 .blog-box .heading9 {
  padding-left: 24px;
}
@media (max-width: 767px) {
  .blog9 .blog-box .heading9 {
    padding-left: 0;
    padding-top: 24px;
  }
}
.blog9 .blog-box .heading9 .date {
  color: var(--Paragraph-Color, #646375);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}
.blog9 .blog-box .heading9 .date img {
  transform: translateY(-3px);
  margin-right: 2px;
  opacity: 0.8;
}
.blog9 .blog-box .heading9 h4 a {
  display: inline-block;
  color: var(--Text-Color, #181818);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  transition: all 0.4s;
  margin: 14px 0px;
}
.blog9 .blog-box .heading9 h4 a:hover {
  transition: all 0.4s;
  color: #325D28;
}
.blog9 .blog-box .heading9 .learn {
  display: inline-block;
  color: var(--Text-Color, #181818);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
  transition: all 0.4s;
}
.blog9 .blog-box .heading9 .learn:hover {
  color: #325D28;
  transition: all 0.4s;
}

.blog10 .blog4-box {
  margin-top: 30px;
}
.blog10 .blog4-box .image {
  border-radius: 7px;
  overflow: hidden;
}
.blog10 .blog4-box .image img {
  width: 100%;
  border-radius: 7px;
  transition: all 0.4s;
}
.blog10 .blog4-box .heading4 {
  border-radius: 7px;
  padding: 20px;
  background-color: var(--ztc-bg-color-w);
  box-shadow: rgba(0, 0, 0, 0.068) 0px 20px 30px;
  margin: -130px 30px 0px 30px;
  position: relative;
  z-index: 1;
}
.blog10 .blog4-box .heading4 .tags a.date {
  margin-bottom: 16px;
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-semibold);
  color: var(--ztc-text-pera-text-1);
}
.blog10 .blog4-box .heading4 .tags a.date img {
  display: inline-block;
  margin-top: -4px;
  margin-right: 3px;
}
.blog10 .blog4-box .heading4 .tags .outhor {
  margin-left: 24px;
}
.blog10 .blog4-box .heading4 h3 a:hover {
  color: #24908D;
}
.blog10 .blog4-box .heading4 a.learn {
  display: inline-block;
  font-size: var(--f-fs-font-fs16);
  line-height: var(--f-fs-font-fs16);
  font-weight: var(--f-fw-blod);
  color: var(--ztc-text-text-1);
  margin-bottom: 24px;
  transition: all 0.4s;
}
.blog10 .blog4-box .heading4 a.learn:hover {
  color: #24908D;
  transition: all 0.4s;
}
.blog10 .blog4-box .heading4 a.learn span {
  display: inline-block;
  transform: rotate(-45deg);
}
.blog10 .blog4-box:hover .image img {
  transition: all 0.4s;
  transform: scale(1.1) rotate(2deg);
}

/*
::::::::::::::::::::::::::
 BLOG AREA CSS
::::::::::::::::::::::::::
*/
